body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(235, 235, 235);
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

div {
  color: gray;
  font-size: 2em;
}

button {
  font-size: 2em;
  margin-top: 20px;
  padding: 10px;
}

.btn {
  background-color: #af2222;  
  margin-top: 42px;
}